*{
    margin: 0%;
}

header {
    background-color: #e3e3e3;
    display: flex;
    max-width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header h1 {
    font-size: 1.5vw;
}
header a {
    font-size: 1vw;
}

body{
    background-color: #333;
}

.description {
    background-color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.description div {
width: 400px;
}

.description h2 {
    margin-bottom: 5px;
    font-size: 2rem;

}

.description img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    object-fit: contain;
}
 .hobbies h3 {
    text-align: end;
    padding: 20px;
 }

 .series h3 {
    text-align: start;
    padding: 20px;
 }

.lists {
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.itens {
    display: flex;
    gap: 20px;
}

.itens li {
    width: 100px;
    height: 200px;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.socialmedia img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: contain;
    padding-top: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 100px;
    padding: 30px, 10px;
}

footer, h2 {
    text-align: end;
}